.body{
  font-family: Tahoma, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container_form{
    width:400px;
    margin:0 auto;
    margin-top:8px;
    margin-bottom:2%;
    transition:opacity 1s;
  }

  .container_form_red-flag{
    width:50%;
    margin-top:50px;
    }

  .container_formfield{
    background:#A5A6A8;
    padding:6% 4%;
  }

  .container_formfield_label {
    color:black;
    text-align: left;
    margin-top: 0px;
  }

  .container_formfield--text, .container_formfield--number, .container_formfield--email, .container_formfield--buttons, .container_formfield--location{
    width:92%;
    background:#ffffff;
    margin-bottom:4%;
    border:1px solid #cccccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555555;
  }

  .container_formfield--file {
    padding:2%;
  }

  .container_formfield--text--narration {
    height: 100px;
    padding:4%;
  }

/* Header */
.header{
  background: #242426;
  color: #ffffff;
  padding-top: 10px;
  min-width: 60px;
}

.header_branding--url{
  color:#ffffff;
  text-decoration: none;
  font-size: 30px;
}

.header_branding--url-signout{
  font-size: 15px;
  float: left;
  display: inline;
  padding: 0 10px 0 10px
  padding: 0;
}

.header_branding {
  float: left;
margin-bottom: 5px;
}

.header_branding--text {
  margin: 0;
}

.header_nav {
  float: right;
    margin-top: 10px;
}

.header_branding--highlight{
  color: #DDDFE3;
}

.header_branding--url-signout:hover, .header_branding--url:hover{
  color:#cccccc;
}

/*Introduction*/

.introduction{
  min-height: 400px;
/* background-color: #F3F2D1; */
  text-align: center;
  color: #575559
}

.introduction_create-record {
  padding: 50px;
  min-height:50px;
}

.introduction_create-record_record-page {
  padding-bottom: 0px;
}

.introduction_signin_page{
  min-height: 550px;
}

.introduction_profile{
  min-height: 75px;
  background-color: #EEF0F5;
}

.introduction_signup_and_signin--header {
  margin-top: 70px;
  font-size: 25px;
  margin-bottom: 30px;
}

.introduction_signup_and_signin--header_profile {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}


.introduction_signup_and_signin--body {
  font-size: 18px;
  margin-bottom: 50px;
}

/* Buttons */
.introduction_buttons {
  background-color: #00BC0A;
  border: 2px solid #00BC0A;
  color: white;
  width: 30%;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  outline: 0px;
  margin: 10px;
  margin-left: 0px;
}

.introduction_buttons--redflag {
  padding: 14px 20px;
  background-color: #575559;
}

.introduction_buttons--signup {}

.introduction_buttons--signin {
  background-color: #A5A6A8;
}

.introduction_buttons--signup-form {
  width: 100%;
}

.introduction_buttons--signup:hover, .introduction_buttons--signin:hover, .introduction_buttons--signup-form:hover {
background-color: #575559;
border: 2px solid #4CAF50;
}

.introduction_buttons--redflag:hover{
  background-color: #A5A6A8;
  border: 2px solid #4CAF50;
}

/*motivation boxes*/

.motivation {
  margin-top: 60px;
}

.motivation_box {
  float:left;
  width: 30%;
  padding: 15px;
  text-align: center;
}

.motivation_box_profile {
  border: 2px solid #C4C6C9;
  margin: 3px;
  width: 27%;
  height: 200px;
}

.motivation_box--image {
  width: 70%;
}

.motivation_box--image--number{
  font-size: 35px;
  width: 58%;
  text-align: right;
}

/*table*/

.motivation_record_list {
  overflow: scroll;
  width: 100%
}

.motivation_record_list_view-record{
  height:100%;
}
.motivation_record_list_table{
  border-collapse: collapse;
  width: inherit;
  margin: 45px;
  margin-left: 0px;
}

.motivation_record_list_table--th{
  background-color: #EEF0F5;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #575559;
}

.motivation_record_list_table--th--heading {
background-color: #242426;
color: white;
}

.motivation_record_list_table--td, .motivation_record_list_table--th{
  border: 1px solid #737075;
  padding: 8px;
}

.motivation_record_list_table--tr:hover{
  background-color: #C4C6C9;
}

/* footer */
.footer {
  text-align: center;
  padding:5px;
  margin-top: 5px;
  color: white;
  background-color: #575559
}

/*map*/
/* Optional: Makes the sample page fill the window.*/
html, .body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 70%;
}
